.menu-item a img, img.menu-image-title-after, img.menu-image-title-before,  img.menu-image-title-above,  img.menu-image-title-below {
    border: none;
    box-shadow: none;
    vertical-align: middle;
    width: auto;
    display: inline;
}
a.menu-image-hovered img.hovered-image,
a.menu-image-hovered:hover img.menu-image {
    opacity: 0;
    transition: opacity 0.25s ease-in-out 0s;
}
a.menu-image-hovered:hover img.hovered-image {
    opacity: 1;
}
a.menu-image-title-after.menu-image-not-hovered img,
a.menu-image-hovered.menu-image-title-after .menu-image-hover-wrapper {
    padding-right: 10px;
}
a.menu-image-title-before.menu-image-not-hovered img,
a.menu-image-hovered.menu-image-title-before .menu-image-hover-wrapper {
    padding-left: 10px;
}
a.menu-image-title-above,
a.menu-image-title-below {
    text-align: center;
    display: block;
}
a.menu-image-title-above.menu-image-not-hovered img,
a.menu-image-hovered.menu-image-title-above .menu-image-hover-wrapper {
    display: block;
    padding-top: 10px;
    margin: 0 auto !important;
}
a.menu-image-title-below.menu-image-not-hovered img,
a.menu-image-hovered.menu-image-title-below .menu-image-hover-wrapper {
    display: block;
    padding-bottom: 10px;
    margin: 0 auto !important;
}
a.menu-image-title-hide .menu-image-title {
	display: none;
}
